NODE_ENV=development
PORT=5000
DATABASE_URL="mysql://root:@localhost:3306/labmineral"
JWT_SECRET="aispektra_jwt_super_secret_production_key_2026"
JWT_EXPIRES_IN="1h"
JWT_REFRESH_SECRET="aispektra_jwt_refresh_super_secret_production_key_2026"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="*"
